MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/CodeChunks.db
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/CodeChunks.db-shm
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/CodeChunks.db-wal
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/SemanticSymbols.db
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/SemanticSymbols.db-shm
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/SemanticSymbols.db-wal
MyPF/.vs/MyPF/v17/Browse.VC.db
MyPF/.vs/MyPF/v17/Browse.VC.db-shm
MyPF/.vs/MyPF/v17/Browse.VC.db-wal
MyPF/.vs/MyPF/v17/Browse.VC.opendb
MyPF/.vs/MyPF/FileContentIndex/2bd1a53c-3e82-4201-b2d8-70715b97ddb3.vsidx
MyPF/.vs/MyPF/FileContentIndex/e32d37b4-ea16-4bf7-9111-d808cdf3493b.vsidx
MyPF/.vs/MyPF/CopilotIndices/17.14.1696.13113/SemanticSymbols.db-wal
MyPF/.vs/MyPF/CopilotIndices/17.14.1696.13113/SemanticSymbols.db-shm
MyPF/.vs/MyPF/CopilotIndices/17.14.1696.13113/SemanticSymbols.db
MyPF/.vs/MyPF/CopilotIndices/17.14.1696.13113/CodeChunks.db-wal
MyPF/.vs/MyPF/CopilotIndices/17.14.1696.13113/CodeChunks.db-shm
MyPF/.vs/MyPF/CopilotIndices/17.14.1696.13113/CodeChunks.db
MyPF/.vs/MyPF/FileContentIndex/1c9692cc-7be7-4471-bc97-423f06ce3d02.vsidx
MyPF/.vs/MyPF/FileContentIndex/26e32bcf-7a09-4d75-9ff7-790574435776.vsidx
MyPF/.vs/MyPF/FileContentIndex/2d428e5b-68c7-4729-8687-8661bb534728.vsidx
MyPF/.vs/MyPF/v17/.suo
MyPF/.vs/MyPF/v17/DocumentLayout.backup.json
MyPF/.vs/MyPF/v17/DocumentLayout.json
MyPF/.vs/MyPF/v17/ipch/AutoPCH/1fa7417b209568ba/APPBASE.ipch
MyPF/.vs/MyPF/v17/ipch/AutoPCH/32459a6de464e464/MAIN.ipch
MyPF/.vs/MyPF/v17/ipch/AutoPCH/571fe4c7588cb007/APPBASE.ipch
MyPF/MyPF/x64/Debug/AppBase.obj
MyPF/MyPF/x64/Debug/Main.obj
MyPF/MyPF/x64/Debug/MyPF.exe.recipe
MyPF/MyPF/x64/Debug/MyPF.ilk
MyPF/MyPF/x64/Debug/MyPF.log
MyPF/MyPF/x64/Debug/MyPF.tlog/CL.command.1.tlog
MyPF/MyPF/x64/Debug/MyPF.tlog/Cl.items.tlog
MyPF/MyPF/x64/Debug/MyPF.tlog/CL.read.1.tlog
MyPF/MyPF/x64/Debug/MyPF.tlog/CL.write.1.tlog
MyPF/MyPF/x64/Debug/MyPF.tlog/link.command.1.tlog
MyPF/MyPF/x64/Debug/MyPF.tlog/link.read.1.tlog
MyPF/MyPF/x64/Debug/MyPF.tlog/link.secondary.1.tlog
MyPF/MyPF/x64/Debug/MyPF.tlog/link.write.1.tlog
MyPF/MyPF/x64/Debug/MyPF.tlog/MyPF.lastbuildstate
MyPF/MyPF/x64/Debug/vc143.idb
MyPF/MyPF/x64/Debug/vc143.pdb
MyPF/MyPF/x64/Debug/vcpkg.applocal.log
MyPF/x64/Debug/MyPF.exe
MyPF/x64/Debug/MyPF.pdb
MyPF/.vs/MyPF/FileContentIndex/8dc344f4-df2e-487c-ab4d-e48039da2a0c.vsidx
MyPF/.vs/MyPF/FileContentIndex/f536c731-f50b-4df3-be5e-f9402ffc15d1.vsidx
MyPF/.vs/MyPF/FileContentIndex/8402de2e-cffc-4c71-a41d-1d0790e75e62.vsidx
MyPF/.vs/MyPF/FileContentIndex/b7d683f7-7388-4dd2-a84b-eca4de89ee28.vsidx
MyPF/.vs/MyPF/v17/ipch/AutoPCH/108e8fa07aeca6aa/RENDERER.ipch
MyPF/.vs/MyPF/FileContentIndex/f2ed565f-669a-48af-88d5-e85b910b135e.vsidx
MyPF/.vs/MyPF/FileContentIndex/b41a2e63-fdbf-4b66-9f2e-86cd4cf7999b.vsidx
MyPF/.vs/MyPF/FileContentIndex/5d101322-a11f-452a-aa50-89f9bc0dfb32.vsidx
MyPF/.vs/MyPF/FileContentIndex/3466513b-32fd-4bf9-a037-4818b4c2b2ef.vsidx
MyPF/MyPF/x64/Debug/Renderer.obj
MyPF/MyPF/x64/Debug/MyPF.tlog/unsuccessfulbuild
MyPF/MyPF/x64/Debug/MyPF.tlog/fxc.read.1.tlog
MyPF/MyPF/x64/Debug/MyPF.tlog/fxc.command.1.tlog
MyPF/.vs/MyPF/FileContentIndex/5ce90779-bda7-45e7-9cc1-fd8674a100e5.vsidx
MyPF/.vs/MyPF/FileContentIndex/5e36d1e1-b11c-4b0e-8c55-1880a23392a2.vsidx
MyPF/.vs/MyPF/FileContentIndex/6b86a76e-aa3b-40d5-8005-0ae46dc118d6.vsidx
MyPF/.vs/MyPF/FileContentIndex/6f55aa44-e497-470d-a52a-e98ea8cc7dee.vsidx
MyPF/.vs/MyPF/FileContentIndex/879691de-0313-4736-aaa5-d83c66fd3fc6.vsidx
MyPF/.vs/MyPF/v17/ipch/AutoPCH/7b1f6677731fc928/RENDERER.ipch
MyPF/.vs/MyPF/v17/ipch/AutoPCH/b4fecb3b9c7ce599/D3D11UTILS.ipch
MyPF/.vs/MyPF/v17/ipch/AutoPCH/f845a0a2d8cfb2a9/APPBASE.ipch
MyPF/.vs/MyPF/v17/ipch/AutoPCH/74b4357d63e5e98f/IMGUI.ipch
MyPF/.vs/MyPF/v17/ipch/AutoPCH/20472a10fcd2c66e/MAIN.ipch
MyPF/.vs/MyPF/FileContentIndex/e27b6eda-17cf-4cb0-b9d4-fab2afa87d33.vsidx
MyPF/.vs/MyPF/FileContentIndex/7248cea4-3304-45bc-8728-3c62b48d9698.vsidx
MyPF/.vs/MyPF/FileContentIndex/68a21a6b-be98-4861-9ad8-898877356e0a.vsidx
