MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/CodeChunks.db
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/CodeChunks.db-shm
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/CodeChunks.db-wal
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/SemanticSymbols.db
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/SemanticSymbols.db-shm
MyPF/.vs/MyPF/CopilotIndices/17.14.1700.50054/SemanticSymbols.db-wal
MyPF/.vs/MyPF/v17/Browse.VC.db
MyPF/.vs/MyPF/v17/Browse.VC.db-shm
MyPF/.vs/MyPF/v17/Browse.VC.db-wal
MyPF/.vs/MyPF/v17/Browse.VC.opendb
MyPF/.vs/MyPF/FileContentIndex/2bd1a53c-3e82-4201-b2d8-70715b97ddb3.vsidx
